# Auth
AUTH_ENABLED=true
AUTH_DEFAULT_ENV=prod
AUTH_LOGIN_MODE=json
AUTH_USERNAME_FIELD=username
AUTH_PASSWORD_FIELD=password
AUTH_TOKEN_KEYS=access_token,accessToken,token,jwt,id_token,data.access_token,data.accessToken,data.token

AUTH_PROD_LOGIN_URL=
AUTH_PROD_API_BASE_URL=
AUTH_TEST_LOGIN_URL=
AUTH_TEST_API_BASE_URL=

PRINTX_TEMPLATE_METHOD=POST
PRINTX_TEMPLATE_ENDPOINT=/wh/v1/print-templates
PRINTX_TEMPLATE_TYPE=zpl
PRINTX_TEMPLATE_CLASS=PrintTemplate
PRINTX_ACTIVITY_ID=

EXTERNAL_CONNECTION_TEST_PATH=auth/v1/profile
AUTH_PROFILE_PATH=auth/v1/profile

# LLM
LLM_PROVIDER=none
LLM_API_KEY=
LLM_MODEL=

YANDEX_PROJECT=
YANDEX_PROMPT_BLOCK_PARSER=
YANDEX_PROMPT_LAYOUT_COMPOSER=

# Flask
LABELFLOW_SECRET_KEY=